.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.image_card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #282c34;
  color: white;
  width: 25%;
  height: 25%;
  margin: 5px;
  border-radius: 20px;
}

.crop {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  height: 500px;
  @media (max-width: 800px) {
    height: 250px;
  }
}

.flex-rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.filter-buttons {
  margin: 5px;
  background-color: #90BEDE;
  color: black;
  transition-duration: 0.4ms;
  border: none;
  border-radius: 5px;
}

.filter-buttons:hover {
  background-color: #bde0fe;
}

.indent {
  margin-left: 30px;
}
